[Unit]
Description=SolarEdge Modbus to MQTT Gateway
After=network.target

StartLimitIntervalSec=60
StartLimitBurst=5


[Service]
WorkingDirectory={{solaredge2mqtt_working_directory}}
User={{solaredge2mqtt_user}}
Group={{solaredge2mqtt_user}}

Restart=always
RestartSec=5
RuntimeMaxSec=15m

ExecStart={{solaredge2mqtt_working_directory}}/bin/solaredge2mqtt


[Install]
WantedBy=multi-user.target


# vi: ft=systemd
